.bPart{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form h2{
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.bPart button{
    width: 250px;
    background-image: linear-gradient(to left , var(--primary-color) , var(--primary-color-dark));
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 40px;
}


.bPart button:hover , .bPart a:hover{
    opacity: 0.7;
}

.bPart a{
    text-align: center;
    margin: 10px 0;
    transition: all 0.3s ease;
    color: var(--primary-color);
    font-size: 0.8rem;
}

